*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: yellow;
    scroll-behavior: smooth;
}


body{
    background-color: rgb(11, 10, 45);
    color: yellow;
}

img{
    width: auto;
    height: 50%;
}


/* MENU INICIAL */
.menu-container{
    background-color: rgb(101, 14, 111);
    padding-right: 80px;
}

.menu-opt{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.menu-opt a{
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-opt li:not(:first-child) div{
    background-color: #0b0a2d;
    width: 90px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-logo{
    height: 10vh;
    width: 10vh;
    display: flex;
    align-items: center;
}


/* SECCION PRINCIPAL */
.main-section{
    background-color: #0b0a2d;
    width: 100%;
    height: 60vh;
}

.game-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.game-title h1{
    font-size: 150px;
    color: blueviolet;
}

.game-title h1:not(:first-child){
    letter-spacing: 25px;
}

.title-logo{
    width: 10em;
    margin: 5px 25px;
}

.title-logo img{
    width: 100%;
    height: auto;
}

.main-section .game-desc{
    margin: 100px 15vw;
}

.game-desc h2{
    color: blueviolet;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
}


/* SECCION PROTAGONISTA */
.prota-container{
    width: 100%;
    height: 15vh;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.prota-container h1{
    color: blueviolet;
    font-weight: bold;
    font-size: 130px;
    margin-top: 8px;
}

.prota-container img{
    width: auto;
    height: auto;
    margin: 10px 0px 0px 60px;
}

/* WHITY CONTAINER  */
.whity-container{
    width: 100%;
    height: 15vh;
    
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.whity-container div{
    align-items: flex-end;
}

.whity-container h3{
    font-size: 14px;
    text-align: center;
    color: aliceblue;
    width: 30%;
    height: auto;
    margin-left: 50px;
    align-self: center;
}

.whity-container div h1{
    color: aliceblue;
    font-size: 130px;
    height: 100%;
    margin-top: 5px;    
}

.whity-container div{
    height: 100%;
    align-self: flex-end;
}

.whity-container img{
    width: auto;
    height: 90%;
    margin: 15px 0 0 0;
}

/* APLY CONTAINER  */
.aply-container{
    width: 100%;
    height: 15vh;
    
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.aply-container div{
    align-items: flex-end;
}

.aply-container h3{
    font-size: 14px;
    text-align: center;
    color: red;
    width: 30%;
    height: auto;
    margin-left: 50px;
    align-self: center;
    order: 2;
}

.aply-container div h1{
    color: red;
    font-size: 130px;
    height: 100%;
    margin-top: 5px;    
}

.aply-container div{
    height: 100%;
    align-self: flex-end;
}

.aply-container img{
    width: auto;
    height: 90%;
    margin: 12px 0 0 0;    
}

.aply-container div:last-child{
    order: -1;
    margin-left: 25px;
}


/* SUSH CONTAINER  */
.sush-container{
    width: 100%;
    height: 15vh;
    
    background-color: red;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.sush-container div{
    align-items: flex-end;
}

.sush-container h3{
    font-size: 14px;
    text-align: center;
    color: orange;
    width: 30%;
    height: auto;
    margin-left: 50px;
    align-self: center;
}

.sush-container div h1{
    color: orange;
    font-size: 130px;
    height: 100%;
    margin-top: 5px;    
}

.sush-container div{
    height: 100%;
    align-self: flex-end;
}

.sush-container img{
    width: auto;
    height: 90%;
    margin: 18px 0 0 0;
}


/* SPORY CONTAINER  */
.spory-container{
    width: 100%;
    height: 15vh;
    
    background-color: orange;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.spory-container div{
    align-items: flex-end;
}

.spory-container h3{
    font-size: 14px;
    text-align: center;
    color: yellow;
    width: 30%;
    height: auto;
    margin-left: 50px;
    align-self: center;
    order: 2;
}

.spory-container div h1{
    color: yellow;
    font-size: 130px;
    height: 100%;
    margin-top: 5px;    
}

.spory-container div{
    height: 100%;
    align-self: flex-end;
}

.spory-container img{
    width: auto;
    height: 90%;
    margin: 12px 0 0 0;
}

.spory-container div:last-child{
    order: -1;
    margin-left: 25px;
}

.line{
    width: 100%;
    height: 15px;
    background-color: blueviolet;
}


/* FOOTER */
footer{
    display: flex; 
    align-items: flex-end;
}
.footer-container{
    width: 100%;
    
}
p{
    font-family: "Antonio", sans-serif;
}

.dominium-link a{
    text-decoration: underline;
    color: yellow;
}