*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(11, 10, 45);
    color: yellow;
}

img{
    width: 100%;
    height: auto;
}

.menu-container{
    background-color: rgb(101, 14, 111);
    padding: 0 25px;   
}

.menu-opt{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.menu-logo{
    height: 10vh;
    width: 10vh;
    display: flex;
    align-items: center;
}

footer{
    display: flex; 
    align-items: flex-end;
}
.footer-container{
    width: 100%;
    
}
p{
    font-family: "Antonio", sans-serif;
}