*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    color: yellow;
}

img{
    width: 100%;
    height: auto;
}

.menu-container{
    background-color: black; 
    padding: 0 25px;   
}

.menu-opt{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}


.menu-logo{
    height: 10vh;
    width: 10vh;
    display: flex;
    align-items: center;
}